* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
div {
    /* background-color: rgb(85, 165, 211); */
    padding: 2rem 4rem;
    text-align: center;
}
button {
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}
span {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0.9rem;
    margin-top: 0.9rem;
    color: red;
}